# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mono
mono_crash.*